@import "tailwindcss";

@layer base {
    h1,
    h2,
    h3 {
        /* font-family: "Outfit", sans-serif; */
        font-family: "Electrolize", sans-serif;
    }

    p,
    a,
    button,
    ul,
    li,
    input,
    textarea,
    label {
        /* font-family: "Poppins", sans-serif; */
        font-family: "Share Tech Mono", monospace;
    }

    .font-poppins {
        font-family: "Poppins", sans-serif;
    }

    .font-share-tech-mono {
        font-family: "Share Tech Mono", monospace;
    }

    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition:
            max-height 0.3s ease,
            padding 0.3s ease;
        padding-top: 0;
        padding-bottom: 0;
    }
    .faq-item.active .faq-answer {
        max-height: 500px;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
    .faq-icon {
        transition: transform 0.3s ease;
    }
    .faq-item.active .faq-icon {
        transform: rotate(180deg);
    }
}

.sidebar-transition {
    transition: width 0.2s ease-in-out;
}

.dropdown-transition {
    transition:
        max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
